body {
    background-color: #0A2463;
    color: white;
    height: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.gradiant {
    background-image: linear-gradient(to bottom right, #ff00f1, #00ffe7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    font-size: 40px;
    margin-top: 40px;
}

.container {
    min-height: 500px;
    height: auto;
    width: 500px;
    background-color: white;
    color: black;
    border-radius: 17px;
    display: inline-block;
    margin: 2px 2px;
    padding: 1rem;
    overflow: hidden;
    box-shadow: -1px 0px 25px 5px #0014ff
}

#heading-1 {
    display: flex;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

#heading-2 {
    display: flex;
    margin: 1.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 0rem 0rem 0rem;
}

#MessageBar {
    color: red;
}

.text-box {
    font-size: 20px;
    width: 23rem;
    padding: 0.5rem;
    border-radius: 8px;
    border-color: blue;
}

.text-box:focus {
    outline-color: blue;
    border-radius: 8px;
}

#save-btn {
    font-size: 20px;
    width: 15%;
    border-color: blue;
    border-radius: 8px;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(144 200 255);
    cursor: pointer;
}

#save-btn:active {
    border-color: blue;
    background-color: white;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    font-size: 24px;
    text-align: left;
    list-style-type: none;
    display: flex;
    margin: 0.5rem 1rem;
    width: 75%;
    border-bottom: 2px solid black;
}

.list {
    display: flex;
    justify-content: start;
    align-items: center;
}

.deleteBTN {
    font-size: 18px;
    border-color: blue;
    background-color: rgb(144 200 255);
    border-radius: 8px;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}

.deleteBTN:active {
    border-color: blue;
    background-color: white;
}

hr {
    border-color: blue;
    margin: 30px 0px 20px 0px;
}

.footer {
    font-size: 16px;
    color: black;
    margin: 20px;
}

.heart {
    color: red;
}


/* Media Query */

@media (max-width: 1100px) and (min-width: 750px) {
    .container {
        width: 45%;
    }

    .text-box {
        width: 60%;
    }

    #save-btn {
        width: 5rem;
    }
}

@media (max-width: 750px) and (min-width:650px) {
    .container {
        width: 45%;
    }

    #heading-1 {
        margin: 0.3rem 0.5rem;
    }

    #heading-2 {
        margin: 0rem 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
        padding: 0px;
    }

    #part-1,
    #part-2 {
        margin: 0.5rem 0.5rem;
        padding: 0;
    }

    .text-box {
        width: 60%;
    }

    #save-btn {
        width: 4rem;
    }

    ul li {
        font-size: 22px;
    }
}

@media (max-width: 649px) and (min-width:550px) {
    .container {
        width: 45%;
    }

    #heading-1 {
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .txt_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #heading-2 {
        padding: 0px;
        justify-content: center;
    }

    .text-box {
        width: 85%;
        padding: 0.3rem;
        font-size: 20px;
        margin: 0.8rem 0rem;
    }

    #save-btn {
        font-size: 20px;
        width: 4rem;
        margin: 0px;
        margin-bottom: 1rem;
        padding: 0.3rem 0.3rem;
    }

    .part-1 {
        margin: 0px;
    }

    #part-2 {
        margin: 0.2rem 0.2rem;
        padding: 0;
    }

    ul li {
        font-size: 20px;
    }

    .deleteBTN {
        padding: 0.3rem 0.4rem;
    }
}

@media (max-width: 549px) and (min-width:400px) {
    .container {
        width: 55%;
    }

    #heading-1 {
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .txt_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #heading-2 {
        padding: 0px;
        justify-content: center;
    }

    .text-box {
        width: 85%;
        padding: 0.3rem;
        font-size: 18px;
        margin: 0.8rem 0rem;
    }

    #save-btn {
        font-size: 18px;
        width: 4rem;
        margin: 0px;
        margin-bottom: 1rem;
        padding: 0.3rem 0.3rem;
    }

    .part-1 {
        margin: 0px;
    }

    #part-2 {
        margin: 0.2rem 0.2rem;
        padding: 0;
    }

    ul li {
        font-size: 18px;
    }

    .deleteBTN {
        padding: 0.1rem 0.4rem;
        font-size: 18px;
    }
}

@media (max-width: 399px) and (min-width:300px) {
    .container {
        width: 65%;
        padding: 0.5rem;
    }

    #heading-1 {
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .txt_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #heading-2 {
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    .text-box {
        width: 85%;
        padding: 0.3rem;
        font-size: 18px;
        margin: 0.8rem 0rem;
    }

    #save-btn {
        font-size: 18px;
        width: 4rem;
        margin: 0px;
        margin-bottom: 1rem;
        padding: 0.3rem 0.3rem;
    }

    .part-1 {
        margin: 0px;
    }

    .part-2 {
        margin: 0.2rem 0.2rem;
        padding: 0;
    }

    ul li {
        font-size: 18px;
    }

    .deleteBTN {
        padding: 0.1rem 0.4rem;
        font-size: 18px;
    }
}

@media (max-width: 299px) and (min-width:250px) {
    .container {
        width: 75%;
        padding: 0.5rem;
    }

    #heading-1 {
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .txt_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #heading-2 {
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    .text-box {
        width: 85%;
        padding: 0.3rem;
        font-size: 18px;
        margin: 0.8rem 0rem;
    }

    #save-btn {
        font-size: 18px;
        width: 4rem;
        margin: 0px;
        margin-bottom: 1rem;
        padding: 0.3rem 0.3rem;
    }

    .part-1 {
        margin: 0px;
    }

    .part-2 {
        margin: 0.2rem 0.2rem;
        padding: 0;
    }

    ul li {
        font-size: 18px;
    }

    .deleteBTN {
        padding: 0.1rem 0.4rem;
        font-size: 18px;
    }
}